.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.item-icon {
  font-size: 100px;
  width: 100px;
}

.item-name {
  font-weight: bold;
  font-size: 24px;
}

.item-deal-section {
  margin-top: 10px;
}
